.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-link-elm4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}

.suite-showcase-wrapper {
  display: contents;
}
 
.suite-showcase-thq-suite-showcase-elm {
  position: relative;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}

.section-content-wrapper {
  display: contents;
}
 
.section-content-container {
  display: contents;
}

.home-container10 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-hero-section-elm {
  max-height: 95vh;
}
 
.home-thq-hero-mask-container-elm {
  display: flex;
  max-height: auto;
  align-items: flex-end;
}
 
.home-thq-hero-overlay-elm {
  background-color: rgba(53, 44, 44, 0.55);
}
 
.home-thq-hero-content-wrapper-elm {
  width: 1200px;
  height: 770px;
  max-height: 100%;
  padding-top: 67px;
  padding-bottom: 40px;
  justify-content: flex-end;
}
 
.home-container11 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.home-container12 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.home-thq-btn-elm1 {
  text-decoration: none;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-container13 {
  display: none;
}
 
.home-container14 {
  display: contents;
}
 
.home-container15 {
  display: none;
}
 
.home-container16 {
  display: contents;
}
 
.home-container17 {
  display: contents;
}
 
.home-thq-footer-list-item-elm1 {
  text-decoration: none;
}
 
.home-thq-footer-list-item-elm2 {
  text-decoration: none;
}
 
.home-thq-footer-list-item-elm3 {
  text-decoration: none;
}
 
.home-thq-section-content-elm28 {
  text-decoration: none;
}
 
.home-container18 {
  display: none;
}
 
.home-container19 {
  display: contents;
}
 
.home-container20 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon103 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text48 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .home-thq-hero-content-wrapper-elm {
    max-width: 100%;
  }
}
 
@media(max-width: 479px) {
  .home-thq-hero-mask-container-elm {
    display: flex;
    align-items: flex-end;
  }
  .home-thq-hero-overlay-elm {
    display: flex;
    align-items: flex-end;
  }
  .home-thq-hero-content-wrapper-elm {
    width: auto;
    max-height: 100%;
    padding-bottom: 40px;
    justify-content: flex-end;
  }
  .home-thq-booking-inquiry-bar-elm {
    height: 462px;
    position: relative;
  }
}
