.section-content-wrapper {
  display: contents;
}
 
.section-content-container {
  display: contents;
}

.footer-container1 {
  display: contents;
}
 
.footer-thq-section-content-elm3 {
  text-decoration: none;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
