.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-link-elm4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
