.suite-showcase-thq-suite-showcase-elm {
  position: relative;
}
 
.suite-showcase-fragment10 {
  display: contents;
}
 
.suite-showcase-text20 {
  display: inline-block;
}
 
.suite-showcase-fragment11 {
  display: contents;
}
 
.suite-showcase-text21 {
  display: inline-block;
}
 
.suite-showcase-fragment12 {
  display: contents;
}
 
.suite-showcase-text22 {
  display: inline-block;
}
 
.suite-showcase-fragment13 {
  display: contents;
}
 
.suite-showcase-text23 {
  display: inline-block;
}
 
.suite-showcase-fragment14 {
  display: contents;
}
 
.suite-showcase-text24 {
  display: inline-block;
}
 
.suite-showcase-fragment15 {
  display: contents;
}
 
.suite-showcase-text25 {
  display: inline-block;
}
 
.suite-showcase-fragment16 {
  display: contents;
}
 
.suite-showcase-text26 {
  display: inline-block;
}
 
.suite-showcase-fragment17 {
  display: contents;
}
 
.suite-showcase-text27 {
  display: inline-block;
}
 
.suite-showcase-fragment18 {
  display: contents;
}
 
.suite-showcase-text28 {
  display: inline-block;
}
 
.suite-showcase-fragment19 {
  display: contents;
}
 
.suite-showcase-text29 {
  display: inline-block;
}
 
.suite-showcase-fragment20 {
  display: contents;
}
 
.suite-showcase-text30 {
  display: inline-block;
}
 
.suite-showcase-fragment21 {
  display: contents;
}
 
.suite-showcase-text31 {
  display: inline-block;
}
 
.suite-showcase-fragment22 {
  display: contents;
}
 
.suite-showcase-text32 {
  display: inline-block;
}
 
.suite-showcase-fragment23 {
  display: contents;
}
 
.suite-showcase-text33 {
  display: inline-block;
}
 
.suite-showcase-fragment24 {
  display: contents;
}
 
.suite-showcase-text34 {
  display: inline-block;
}
 
.suite-showcase-fragment25 {
  display: contents;
}
 
.suite-showcase-text35 {
  display: inline-block;
}
